.bg-login-image-2 {
    background: url("../images/21430.jpg");
    background-position: center;
    background-size: cover;
  }
.bg-error-image-2 {
    background: url("../images/30316.jpg");
    background-position: center;
    background-size: cover;
  }


.chronometre{
    margin: auto ;
    width: 300px;
    text-align: center;
    
  }

.tim{
      margin: auto;
      width: 300px;
      padding:5px 0;
      text-align: center;
      font-size: 1.5em;
      font-family: digital;
      margin-bottom: 10px;


}
.messageTimer{
  font-style: italic !important;
}
.blinking{
  animation:blinkingText 3s infinite;
  font-weight: 90;

}
@keyframes blinkingText{
  0%{     color:#858796;    }
  49%{    color: #858796; }
  60%{    color:#858796; }
  99%{    color:transparent;  }
  100%{   color: #858796;    }
}

  
.cacher{display: none;}
.cacher.visible{display: block;}
.card-toggle{cursor: pointer;}

.name{color:white;}
.delete_message{float: right;color:white;cursor: pointer;}
.delete_message:hover{color:whitesmoke;}

.contain {margin: 0 auto;background: black;border-radius: 5px;}
.fa-circle{font-size: 10px;}
.contain ul {list-style: none;} 
.contain  li {padding: 10px;}
.about {float: left;margin-top: 8px;padding-left: 8px;}
.chat {background: #F2F5F8;border-top-right-radius: 5px;border-bottom-right-radius: 5px;color: #434651;}
.chat-header {padding: 20px;border-bottom: 2px solid white;}
.chat-header  img {float: left;}
.chat-about {float: left;padding-left: 10px;margin-top: 6px;}
.chat-with {font-weight: bold;font-size: 16px;}
.chat-num-messages {color: #92959E;}
.chat-history {padding: 30px 30px 20px;border-bottom: 2px solid white;overflow-y: scroll;height: 575px;}
.chat-history  .message-data {margin-bottom: 15px;}
.message-data-time {color: #a4a5a7;padding-left: 6px;}
.message {      
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}

/*
.message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 10px;
  margin-left: -10px;
  border-bottom-color: red;
}*/
.chat-history ul{list-style: none;}
.other-message {      
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
/*
.other-message:after {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 10px;
  margin-left: -10px;
  border-bottom-color: red;
}
*/
.chat-message {padding: 30px;}
.chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;     
}
.send {
  float: right;
}
.align-left {text-align: left;}
.align-right {text-align: right;}
.float-right {float: right;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}




@media screen and (min-width:721px) and (max-width: 1023px){
  .mobile{display: none;}
}
@media screen and (min-width: 481px) and (max-width: 720px ){
  .mobile{display: none;}
}
@media screen and (min-width:320px) and (max-width: 480px){
  .mobile{display: none;}
}

.particlesContainer{
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  
}