{% extends 'base.html.twig' %}

{% block title %}Liste des groupes{% endblock %}

{% block body %}
    <h1>Liste des groupes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.id }}</td>
                <td>{{ group.nom }}</td>
                <td>
                    <a href="{{ path('group_show', {'id': group.id}) }}">Voir</a>
                    <a href="{{ path('group_edit', {'id': group.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Liste vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
