{{ form_start(form) }}
    {{ form_widget(form) }}
   <div class="row justify-content-center"><button class="btn-info btn"><span>
        <i class="fas fa-paper-plane"></i>
    </span>{{ button_label|default('Inviter') }}</button></div>
 
{{ form_end(form) }}
