            <li class="nav-item dropdown no-arrow mx-1">    
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">{{ notifNonLu|length  }}</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Vos Notifications non lues
                </h6>
                {% if notifNonLu is not empty %}

                    {% for notif in notifNonLu %}
                        <a class="dropdown-item d-flex align-items-center" href="{{ path('notification_show' , {'id' : notif.id })  }}">
                        <div class="mr-3">
                            <div class="icon-circle bg-primary">
                            <i class="fas fa-file-alt text-white"></i>
                            </div>
                        </div>
                        <div>
                            <span class="font-weight-bold">{{ notif.message  }}</span>
                        </div>
                        </a>
                    {% endfor %}
              
                {% else %}
                  <div class="font-weight-bold mt-1">
                    <div class="text-truncate text-center">  Vous n'avez pas de nouvelles notifications</div>                 
                  </div>
                {% endif %}
          
                <a class="dropdown-item text-center small text-gray-500" href="{{ path('notification_index')  }}">Voir toutes les notifications</a>
              </div>
            </li>