{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %}
          <!-- 404 Error Text -->
          <div class="text-center">
            <div class="error mx-auto" data-text="404">ERREUR</div>
            <p class="lead text-gray-800 mb-5">Une erreur s'est produite</p>
            <a href="{{path('home')}}">&larr; Retour</a>
          </div>

{% endblock %}
